<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset= "UTF-8">
	<meta name="viewport" content="width=device-width;initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<link rel="shortcut icon" href="hello.ico">
	<title><b>Welcome to Summer Camp</b></title>
	<title>Navigation</title>
</head>
<body>
<header>
<div class="fixed content">
<img src="asset/images/pool kids.jpg" width="1400" height="300" alt="Banner" >
<nav id="vertical">
<h2 style="color:blue;"> Contact for details </h2>
<h3><b>phone no : 62364826386 </h3>
<button class="button">Contact</button>
<br>
</nav>
</div>

<p>Iniya Summer Camp believes that swimming and summers go hand in hand. It is important for campers to refresh in the swimming pool during the hot summer days. Safety is our number one priority when it comes to the swimming pool. Camp counselors are required to go into the pool or watch the campers from the edge of the pool. In addition to our camp staff, certified lifeguards are also assigned to oversee our designated area .
</p>
</header>
</body>
</html>